@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h1>EEG-EPI - HAKKIMIZDA</h1>
    <p>
       Görme engellir için kurulmuş bir şirketiz. Ekibimiz 6 üyeden oluşmaktadır.
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <img src="~/eegepi.png" width="500" />
    </div>
    <div class="col-md-4">
        <p>

        </p>
    </div>
    <div class="col-md-4">
        <br />
        <img src="~/beyin.png" width="300" />
    </div>
</div>
