
@{
    ViewBag.Title = "Amacimiz";
}

<div class="jumbotron">
    <h1>EEG-EPI - AMAÇ</h1>
    <p class="lead">
        Görme engellilerde düşme, çarpma ve yaralanma gibi riskler daha fazladır. Çünkü
        yollar ve sosyal yaşam alanları yeterli uygunluktan uzaktır. Cadde ve sokaklarda ki biçimsiz
        kaldırımlar, rampalar, üstü açık bırakılmış kuyular onların yaralanmasına hatta ölümüne sebep
        olabilmektedir. Bununla birlikte kaldırımların orta alanlarına dikilen elektrik, aydınlatma
        direkleri, beton mantarlar, ağaçlar ve esnaf tezgâhları da aynı soruna sebep olabilmektedir.  
    </p>
    <p>
        Önemli diğer bir sorun da yoldan karşıdan karşıya geçmedir. Trafik ışıklarında
        renklerin durumuna göre sinyal veren sesli sistemler çok az olmakla birlikte genelde büyük
        şehirlerde bulunmaktadır. Sürücüler geçiş önceliği hakkını engellilere göstermemekte, bu da
        kazalara yol açmaktadır.
    </p>
    <p>
        Uygulamamızda bu sorunları kaldırmak için bir çözüm yolu. Uygulamamızı görme engellilerin telefonuna indirerek yollarda önünde ne 
        olduğunu, trafik ışıklarında renklerin durumunu anlatan ve görme engellileri istediği yere götüren bir uygulamadır.
    </p>
</div>