@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>EEG-EPI</h1>
    <p class="lead">Görme engelliler için kurulmuş bir şirketiz</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Uygulamamız</h2>
        <p>
            Uygulamamızı görme engelliler için geliştirdik. Görme engelliler uygulamayı açtığında gideceği yeri söylüyor. Söylediği yeri uygulama açıp sesli bir şekilde onu götürüyor.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Logomuz</h2>
        <img src="~/beyin.png" width="250" />
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Uygulamadan Kare</h2>
        <img src="~/uygulama.png" width="300" />
    </div>
</div>